@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white;
    font-family: 'NetflixSansLight'
  }
  header {
    @apply fixed top-0 z-40 flex w-full items-center justify-between transition-all 
    sm:px-4 sm:py-1.5 px-4 py-1.5 md:px-2 md:py-1;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s]
    hover:text-[#b3b3b3];

  }
}

@font-face {
  font-family: NetflixSansLight;
  src: url('/fonts/NetflixSans-Light.otf');
} 

@font-face {
  font-family: NetflixSansRegular;
  src: url('/fonts/NetflixSans-Regular.otf');
} 

@font-face {
  font-family: NetflixSansMedium;
  src: url('/fonts/NetflixSans-Medium.otf');
} 

@font-face {
  font-family: NetflixSansBold;
  src: url('/fonts/NetflixSans-Bold.otf');
} 

h1 {
  font-family: 'NetflixSansMedium'
}


/* h2 {
  font-family: 'NetflixSansLight'
} */

/* h3 {
  font-family: 'NetflixSansRegular'
} */

h3 {
  font-family: 'NetflixSansMedium'
}

.__description {
  font-family: 'NetflixSansLight',
}

p {
  font-family: 'NetflixSansRegular'
}

/* .banner--fadeBottom{
  height: 17.4rem;
  margin-bottom: 8.45rem;
  background-image: linear-gradient(
    180deg,
    transparent, 
    rgba(0, 0, 0, 0.91),
    #000000
  )
} */

#__next {
/*   overflow-y: scroll; */
  @apply h-full;
}

html {
  @apply h-full;
}
